.perfil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid green;
    padding: 4px;
    color: #9649e2;

}
.align, figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}
img:hover {
    border: solid black 1px;

}

li:last-child {
    list-style-type: none;
    border: solid blue 2px;
    margin: 5px;
    padding: 5px 100px;
}


body {
    background-color: #FAF7FD;
    margin: 0px auto;
}